@use "@/assets/styles/_variables" as v;
@use "@/assets/styles/_mixins" as m;

%progress-track {
  // inline-size: clamp(20.4375rem, 17.4005rem + 12.9577vw, 29.0625rem);
  inline-size: 100%;
  block-size: v.$size-200;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: v.$size-50;
  border: 0;
  border-radius: 999px;
  z-index: 9999;
}

.progress-track-dark {
  @extend %progress-track;

  background-color: v.$color-navy;
}

.progress-track-light {
  @extend %progress-track;

  background-color: v.$color-pure-white;
}

.progress-bar {
  inline-size: 80%;
  block-size: v.$size-100;
  border: 0;
  border-radius: 999px;
  background-color: v.$color-purple;
}

.option-icon {
  @include m.boxed-icon;

  background-color: v.$color-light-grey;

  p {
    @include m.text-preset-header-sm-medium;

    color: v.$color-grey-navy;
    background-color: inherit;
  }
}

%select-button {
  .text-area {
    @include m.text-preset-header-sm-medium;

    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      inline-size: 22ch;
      text-align: left;
    }
  }

  &:hover {
    .option-icon {
      background-color: #f6e7ff;

      p {
        color: v.$color-purple;
      }
    }
  }

  &:active {
    border: 0.1875rem solid v.$color-purple;

    .option-icon {
      background-color: v.$color-purple;

      p {
        color: v.$color-pure-white;
      }
    }
  }
}

.select-button-dark {
  @include m.select-button-dark;

  @extend %select-button;
}

.select-button-light {
  @include m.select-button-light;

  @extend %select-button;
}

.correct {
  pointer-events: none;
  border: 0.1875rem solid v.$color-green;

  .option-icon {
    background-color: v.$color-green;

    p {
      color: v.$color-pure-white;
    }
  }
}

.incorrect {
  pointer-events: none;
  border: 0.1875rem solid v.$color-red;

  .option-icon {
    background-color: v.$color-red;

    p {
      color: v.$color-pure-white;
    }
  }
}
