@use "@/assets/styles/variables" as v;
@use "@/assets/styles/mixins" as m;

.content {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: v.$size-500;
  padding: v.$size-600 0;
  padding-top: clamp(v.$size-600, 10%, 3.375rem);

  .header {
    inline-size: 100%;
    display: flex;
    flex-direction: column;
    gap: v.$size-200;
  }

  .header h2 {
    display: flex;
    flex-direction: column;
    gap: v.$size-100;
  }

  .header .minor-header {
    @include m.text-preset-header-lg-regular;
  }

  .header .major-header {
    @include m.text-preset-header-lg-bold;
  }

  .header p {
    @include m.text-preset-body-sm;
  }

  .category-options {
    @include m.flex-center;

    inline-size: 100%;
    flex-direction: column;
    gap: clamp(calc(v.$size-100 + v.$size-50), 10%, v.$size-300);
  }
}

@media (min-width: 54rem) {
  .content {
    flex-direction: row;
    padding-top: 6.25rem;
  }
}
