@use "@/assets/styles/variables" as v;
@use "@/assets/styles/mixins" as m;

.boxed-icon-bg-red {
  @include m.boxed-icon;

  background-color: #fff1e9;
}

.boxed-icon-bg-green {
  @include m.boxed-icon;

  background-color: #e0fdef;
}

.boxed-icon-bg-purple {
  @include m.boxed-icon;

  background-color: #f6e7ff;
}

.boxed-icon-bg-blue {
  @include m.boxed-icon;

  background-color: #ebf0ff;
}

.icon-name-group {
  @include m.flex-center;

  inline-size: 100%;
  gap: v.$size-200;

  h2 {
    @include m.text-preset-header-sm-medium;
  }
}
