@font-face {
  font-family: "Roboto Bold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:root {
  /* Spacing */
  --size-1300: 6.5rem; /* 104px */
  --size-900: 4.5rem; /* 72px */
  --size-800: 4rem; /* 64px */
  --size-600: 3rem; /* 48px */
  --size-500: 2.5rem; /* 40px */
  --size-400: 2rem; /* 32px */
  --size-300: 1.5rem; /* 24px */
  --size-200: 1rem; /* 16px */
  --size-100: 0.5rem; /* 8px */
  --size-50: 0.25rem; /* 4px */

  /* Colors */
  --color-white: #fafafa;
  --color-grey: #949494;
  --color-blue-800: #242742;
  --color-blue-700: #36384d;
  --color-red: #ff6155;
}

body {
  font-family: "Roboto Regular", serif;
}
