@use "@/assets/styles/_variables" as v;
@use "@/assets/styles/_mixins" as m;

%layout {
  inline-size: 100%;
  min-block-size: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .circle-backdrop {
    position: absolute;
    inline-size: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .page-nav {
    position: absolute;
    inline-size: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
  }

  .page-content {
  }
}

.layout-dark {
  @include m.dark-theme;
  @extend %layout;
}

.layout-light {
  @include m.dark-light;
  @extend %layout;
}

.nav-bar {
  @include m.flex-center;

  inline-size: 100%;
  block-size: auto;
  justify-content: space-between;
  padding: v.$size-200 v.$size-300;

  .left-side {
    display: flex;
    justify-content: start;
    margin-right: auto;
  }

  .right-side {
    display: flex;
    justify-content: end;
    margin-left: auto;
  }
}
