@use "sass:color";
@use "@/assets/styles/_variables" as v;
@use "@/assets/styles/_mixins" as m;

.submit-button {
  @include m.flex-center;
  @include m.text-preset-header-sm-medium;

  // inline-size: clamp(20.4375rem, 15.2218rem + 22.2535vw, 35.25rem);
  inline-size: 100%;
  block-size: clamp(3.5rem, 2.7077rem + 3.3803vw, 5.75rem);
  padding: v.$size-400;
  border-radius: clamp(0.75rem, 0.4859rem + 1.1268vw, 1.5rem);
  border: 0;
  color: v.$color-pure-white;
  background-color: v.$color-purple;

  &:hover {
    background-color: color.mix(v.$color-purple, v.$color-pure-white, $weight: 50%, $method: rgb);
  }
}
