@use "@/assets/styles/_variables" as v;
@use "@/assets/styles/_mixins" as m;

.nav-bar {
  @include m.flex-center;

  inline-size: 100%;
  block-size: auto;
  justify-content: space-between;
  padding: v.$size-200 v.$size-300;

  .left-side {
    display: flex;
    justify-content: start;
    margin-right: auto;
  }

  .right-side {
    display: flex;
    justify-content: end;
    margin-left: auto;
  }
}
