@use "@/assets/styles/variables" as v;
@use "@/assets/styles/mixins" as m;

.content {
  inline-size: 100%;
  min-inline-size: 16.25rem;
  block-size: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: v.$size-500;
  padding: v.$size-600 0;
  padding-bottom: 0;
  overflow: hidden;

  .question-content {
    inline-size: 100%;
    block-size: auto;
    display: flex;
    flex-direction: column;
    gap: v.$size-300;

    .text-area {
      display: flex;
      flex-direction: column;
      justify-content: start;
      gap: calc(v.$size-100 + v.$size-50);

      h2 {
        @include m.text-preset-header-md-medium;
      }

      p {
        @include m.text-preset-body-sm;

        &.dark-theme {
          color: v.$color-light-bluish;
        }

        &.light-theme {
          color: v.$color-grey-navy;
        }
      }
    }
  }

  .options-selection {
    @include m.flex-center;

    inline-size: 100%;
    block-size: auto;
    flex-direction: column;
    gap: clamp(v.$size-200, 1%, v.$size-400);

    button {
      inline-size: 100%;
    }

    .options-submission {
      @include m.flex-center;

      inline-size: 100%;
      block-size: auto;
      flex-direction: column;
      gap: v.$size-200;

      %validation-message {
        @include m.flex-center;
        @include m.text-preset-body-md;

        gap: v.$size-100;
      }

      .validation-message-dark {
        @extend %validation-message;

        color: inherit;
      }

      .validation-message-light {
        @extend %validation-message;

        color: v.$color-red;
      }
    }
  }

  .question-nav {
    @include m.flex-center;

    inline-size: 100%;
    flex-direction: row;
    gap: 5%;
  }
}

%select-input {
  inline-size: 100%;

  input[type="radio"] {
    position: absolute;
    opacity: 0;
  }

  .text-area {
    @include m.text-preset-header-sm-medium;

    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      inline-size: 22ch;
      text-align: left;
    }
  }

  &:hover {
    .option-icon {
      background-color: #f6e7ff;

      p {
        color: v.$color-purple;
      }
    }
  }

  &:active,
  &focus,
  &:focus-within {
    border: 0.1875rem solid v.$color-purple;

    .option-icon {
      background-color: v.$color-purple;

      p {
        color: v.$color-pure-white;
      }
    }
  }
}

.options {
  @include m.flex-center;

  inline-size: 100%;
  flex-direction: column;
  gap: clamp(calc(v.$size-100 + v.$size-50), 1%, v.$size-300);
  outline: none;
  border: none;

  .correct {
    pointer-events: none;
    border: 0.1875rem solid v.$color-green;

    .option-icon {
      background-color: v.$color-green;

      p {
        color: v.$color-pure-white;
      }
    }
  }

  .incorrect {
    pointer-events: none;
    border: 0.1875rem solid v.$color-red;

    .option-icon {
      background-color: v.$color-red;

      p {
        color: v.$color-pure-white;
      }
    }
  }

  .active {
    border: 0.1875rem solid v.$color-purple;

    .option-icon {
      background-color: v.$color-purple;

      p {
        color: v.$color-pure-white;
      }
    }
  }

  .disabled {
    pointer-events: none;
  }

  .select-input-dark {
    @include m.select-input-dark;

    @extend %select-input;
  }

  .select-input-light {
    @include m.select-input-light;

    @extend %select-input;
  }
}

%progress-track {
  inline-size: 100%;
  block-size: v.$size-200;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: v.$size-50;
  border: 0;
  border-radius: 999px;
  z-index: 9999;
}

.progress-track-dark {
  @extend %progress-track;

  background-color: v.$color-navy;
}

.progress-track-light {
  @extend %progress-track;

  background-color: v.$color-pure-white;
}

.progress-bar {
  inline-size: 0%;
  block-size: v.$size-100;
  border: 0;
  border-radius: 999px;
  background-color: v.$color-purple;
}

.option-icon {
  @include m.boxed-icon;

  background-color: v.$color-light-grey;

  p {
    @include m.text-preset-header-sm-medium;

    color: v.$color-grey-navy;
    background-color: inherit;
  }
}

@media (min-width: 54rem) {
  .content {
    flex-direction: row;
    align-items: start;
    justify-content: start;

    .question-content {
      flex: 1;

      .text-area {
        max-inline-size: 70ch;
      }
    }

    .options-selection {
      justify-content: stretch;
      flex: 1;
    }
  }
}
